<div class="container mt-5">
  <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
    <!-- errmsg show here -->
    <div *ngIf="errmsgshow">
      <p class="text-danger">{{ errmsg }}</p>
    </div>
      <p> Введіть ваші email та пароль</p>
      <div class="mb-3">
        <input type="email" class="form-control" formControlName="email" placeholder="Введіть Ваш Email" />
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" formControlName="password" placeholder="Введіть пароль" />
      </div>
      <button type="submit" class="btn btn-outline-success me-md-2">Увійти</button>
    </form>
  </div>
