<div class="container mt-5">
  <form >
      <p> Введіть ваші email та пароль</p>
      <div class="mb-3">
        <input #email class="form-control"placeholder="admin@gmail.com" required/>
      </div>
      <div class="mb-3">
        <input #password class="form-control" placeholder="Введіть пароль 1111" required />
      </div>
      <button (click)="onSubmitClick(password.value,email.value)" class="btn btn-outline-success me-md-2">Увійти</button>
      <button (click)="onSendPassword()" class="btn btn-outline-success me-md-2">Нагадати пароль</button>
      <span *ngIf="wrongPassword">
      <p class="text-danger">Введіть вірний пароль або логін </p>
    </span>
    </form>
  </div>
  
    
