<div class="banners">
<div class ='contain'>
  <h2>
  Вітаємо Вас у онлайн-ресторані Cellini!
  </h2><br>
  <h2>
Це ідеальна їжа для важливих подій. Будь-то романтичний вечір з коханою, день народження чи дружня вечеря з колегами.
</h2><br>
<h2>
Керуючись бажанням задовольняти смакові 
потреби наших потенційних клієнтів, ми використовуємо тількі наякісніші та найсвіжіші інгридієнти. Наші кухарі готують якісно та з любовʼюготуємо з любовʼю для Вас. Щоб задовольнити найвибагливіших. Тількі найсвіжіші продукти!
</h2><br>
<h2>
  Ми дуже піклуємось про своїх клієнтів. Цінуємо Ваш зворотній звʼязок, щоб з кожним днем ставати кращими.
</h2>
</div>
