<div class="container mt-5">
  <form [formGroup]="signupForm" (ngSubmit)="signupSubmit()">
    <!-- errmsg show here -->
    <div *ngIf="errmsgshow">
      <p class="text-danger">{{ errmsg }}</p>
    </div>
    <p> Форма для реєстрації</p>
    <div class="mb-3">
      <input type="text" class="form-control" formControlName="name" placeholder="Введіть Ваше Імʼя" />
    </div>
    <div class="mb-3">
      <input type="email" class="form-control" formControlName="email" placeholder="Введіть Ваш Email" />
    </div>
    <div class="mb-3">
      <input type="password" class="form-control" formControlName="password" placeholder="Введіть пароль" />
    </div>
    <button type="submit" class="btn btn-outline-success me-md-2">Зареєструватись
    </button>
  </form>
</div>